body {
  width: 100%;
  font-family: "Jersey 10", Poppins, sans-serif;
  margin: 0;
  background-color: #faf9f6;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(180deg,
    #FEBE8C, #FFFBC1, #FEBE8C, #FFFBC1, #FEBE8C
  );
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.logo {
  flex: 1;
  padding: 10px;
  width: 20% !important;
}

p {
  text-align: justify;
  padding: 0px 10px 10px 10px;
  margin-bottom: 0px;
}

header > p {
  flex: 1;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  flex: 1;
  font-size: 2rem;
  margin: 0px 0px 10px 0px;
  padding: 0;
  display: block;
  text-transform: capitalize;
  text-align: center;
  border-radius: 50% 50% 5% 5%;
}

h2 {
  padding: 10px 0px 0px 0px;
  margin: 0;
}

.bb {
  color: midnightblue;  
}

.bb::after {
  content: "!";
}

.card {
  display: inline-block;
  margin: 0px 0px 10px 0px;
  font-size: 1rem;
  border: 0.1rem ridge #B6E2A1;
  border-radius: 5%;
  p {
    font-family: Poppins,sans-serif;
    font-stretch: condensed;
    padding: 0px 10px 10px 10px;
  }
}

.tile-image {
  border: 0.05rem solid black;
  max-width: 50%;
  float: left;
  margin: 10px;
  border-radius: 10%;
}

.right img {
  float: right;
}

footer {
  p {
    text-align: right;
    color: midnightblue;
    padding-right: 0px;
  }
}

@media (max-width: 360px) {
  body {
    background: linear-gradient(0deg,
      #F7A4A4,#B6E2A1,#F7A4A4,#B6E2A1,#F7A4A4
    );    
  }

  header {
    display: flex;
    flex-direction: row;
    max-height: 300px;
    background: linear-gradient(to bottom,
      transparent,#B6E2A1 50%,#F7A4A4 60%, transparent
    );
  }

  .logo {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background: radial-gradient(
      #B6E2A1 50%,#F7A4A4 60%, transparent 75%
    );
    border-radius: 50% 50% 50% 0%;
    border: 0.3rem solid #B6E2A1 !important;
    border-left-style: none !important;
  }

  header > p {
    margin: 10px;
    padding: 15px 10px 0px 10px;
    background: radial-gradient(
      #B6E2A1 50%,#F7A4A4 60%, transparent 75%
    );
    border: 0.3rem solid #B6E2A1;
    border-radius: 50% 50% 0% 50%;
    border-bottom-style: solid;
    border-right-style: none;
    text-align: center;
    font-size: 2.3rem;
  }

  h1 {
    margin: -11px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: linear-gradient(0deg,
     #F7A4A4 10%, #B6E2A1 45%, #F7A4A4 80%, transparent
    );
    border-radius: 0% 0% 50% 50%;
    border: 0.3rem solid #B6E2A1;
    border-top-style: hidden;
    font-size: 1.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    background: radial-gradient(
      #B6E2A1 35%, #F7A4A4 90%
    );
    max-width: 100%;
    border: 0.3rem solid #B6E2A1;
  }

  .tile-image {
    border-radius: 3%;
    max-width: max-content;
    display: block;
  }

  h2 {
    text-align: left !important;
    padding-left: 10px;
    font-size: 2rem;
    margin: 0px 0px 5px 0px;
  }

  .card p {
    margin: 0;
    padding: 0px 10px 10px 10px;
    object-fit: contain;
  }

  footer {
    min-width: 334px;
    position: sticky;
    bottom: 0;
    padding-right: 10px;
    border: 0.3rem solid #B6E2A1;
    border-radius: 50% 50% 0% 0%;
    background: linear-gradient(0deg,
      #B6E2A1 20%,#F7A4A4 80%
    );
  }
}

@media (min-width: 361px) and (max-width: 700px) {
  body {
    background: linear-gradient(180deg,
    #7FB77E, #B1D7B4, #7FB77E, #B1D7B4, #FFC090
    );
    margin: 0;
    .card {
      margin-left: 15px;
      margin-right: 15px;
    }
    footer {
      margin-right: 15px;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    background: linear-gradient(180deg,
      #FFC090,#7FB77E, #B1D7B4, #B1D7B4, #B1D7B4, #7FB77E,#FFC090
    );
    border-bottom: 2px solid #7FB77E;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  .logo {
    flex: 1;
    background: radial-gradient(at 50% 50%,
      #7FB77E 40%, #B1D7B4, transparent 70%
    );
    border-radius: 5% 0% 0% 0%;
    border: 0 !important;
    max-width: 180px;
    min-width: 180px;
  }
  
  header>p {
    flex: 1;
    margin: 0;
    padding: 40px 20px 0px 20px;
    background: linear-gradient(180deg,
      #FFC090, #7FB77E, #B1D7B4, #B1D7B4, #B1D7B4,#7FB77E, #FFC090
    );
    display: inline;
    text-align: end;
    text-transform: uppercase;
    font-size: 2.2rem;
    border: 0;
    border-bottom-right-radius: 25%;
  }
  
  h1 {
    margin: -10px 0px 10px 0px;
    padding: 10px;
    padding-top: 20px;
    background: linear-gradient(180deg,
      #FFC090 50%, #7FB77E, #B1D7B4, #7FB77E, #B1D7B4, #FFC090
    );
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom: 0.2rem solid #7FB77E;
  }

  h2 {
    font-size: 1.5rem;
  }

  .bb {
    display: block;
  }

  .card {
    border-color: #7FB77E;
    background: radial-gradient(at 50% 45%,
      #B1D7B4, #F7F6DC, #FFC090
    );
  }

  div.card.right>h2 {
    text-align: right;
  }
}

@media (min-width: 701px) {
  body {
    margin: 0;
    width: 100%;
    background: repeating-linear-gradient(180deg,
      #FEBE8C, #F3FDE8, #FEBE8C, #F3FDE8, #FEBE8C, #F3FDE8,#FEBE8C,#B1D7B4, #B1D7B4, #FEBE8C
    );
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px;
    gap: 10px;
    row-gap: 0px;
    padding: 0px 10px 0px 10px;
  }

  header {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    border: 0px !important;
    padding-top: 10px;
  }

  .logo {
    flex: 1;
    object-fit: contain;
    background: radial-gradient(at 100% 100%,
      #A8DF8E 40%, #FFE5E5, transparent 70%
    );
    border-top-left-radius: 5%;
    border: 0px !important;
  }
  
  header > p {
    flex: 1;
    padding-left: 4rem;
    background: radial-gradient(at 0% 100%,
      #A8DF8E 40%, #FFE5E5, transparent 70%
    );
    border-top-right-radius: 5%;
    font-size: 3.8rem;
  }

  h1 {
    grid-column: span 2;
    margin-bottom: 25px;
    padding: 15px 400px 15px 15px;
    background: radial-gradient(at 50% 0%,
      #A8DF8E 40%, #FFE5E5, transparent 70%
    );
    border-radius: 0% 0% 5% 5%;
    border-right: 0px;
    border-bottom: 0.2rem solid #FFBFBF;
    text-transform: lowercase;
    text-align: end;
    text-decoration-color: midnightblue;
    text-decoration-thickness: 0.05rem;
    text-decoration-line: overline;
  }

  h2 {
    font-size: 1.2rem;
  }

  .card {
    border-color: #FFBFBF;
    background: radial-gradient(
     #FFE5E5 50%, #A8DF8E
    );
  }

  .right img {
    float: left;
  }

  footer {
    margin-right: 10px;
  }
}
