body {
  font-family: "Poppins", sans-serif;
  margin: 15px 15px 0 15px;
  background-color: #faf9f6;
  min-height: 95vh;
  background: linear-gradient(180deg,
    #FEBE8C, #FFFBC1, #FEBE8C, #FFFBC1, #FEBE8C
  );
}

.main {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.logo {
  padding: 10px;
  width: 20% !important;
  flex: 1;
}

p {
  text-align: justify;
  padding: 0px 10px 10px 10px;
  margin-bottom: 0px;
}

header > p {
  flex: 1;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  flex: 1;
  font-size: 2rem;
  margin: 0px 0px 10px 0px;
  padding: 0;
  display: block;
  text-transform: capitalize;
  text-align: center;
  border-radius: 50% 50% 5% 5%;
}

h2 {
  font-size: 1rem;
}

.bb {
  color: midnightblue;  
}

.bb::after {
  content: "!";
}

.card {
  display: inline-block;
  margin: 0px 10px 10px 0px;
  font-size: 1rem;
  border: 0.1rem ridge #B6E2A1;
  border-radius: 5%;
}

.tile-image {
  border: 0.05rem solid black;
  max-width: 50%;
  float: left;
  margin: 10px;
  border-radius: 10%;
}

.right img {
    float: right;
}

footer p {
  text-align: right !important;
  color: midnightblue;
}

@media (max-width: 400px) {
  header {
    display: flex;
    flex-direction: row;
    max-height: 300px;
  }

  .logo {
    flex: 1;
    margin: 10px;
    padding: 10px;
    width: auto;
    border-radius: 50%;
    border: 3px solid #B6E2A1 !important;
    background: radial-gradient(
      #B6E2A1 50%,#F7A4A4 70%
    );
  }

  header > p {
    flex: 1;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.7rem;
    border: 3px solid #B6E2A1;
    border-radius: 50%;
    background: radial-gradient(
      #B6E2A1 50%,#F7A4A4 70%
    );
  }

  h1 {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 0% 0% 50% 50%;
    border: 3px solid #B6E2A1;
    border-top: hidden;
    background: linear-gradient(0deg,
    #F7A4A4 30%, #B6E2A1 80%, transparent
    );
  }

  .card {
    display: flex;
    flex-direction: column;
    background: radial-gradient(
      #B6E2A1 35%, #F7A4A4 90%
    );
  }

  .tile-image {
    max-width: max-content;
    display: block;
  }

  h2 {
    text-align: left !important;
    padding-left: 10px;
    font-size: 1.5rem;
    margin: 0px 0px 5px 0px;
  }

  .card p {
    margin: 0;
    padding: 0px 10px 10px 10px;
    object-fit: contain;
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  body {
    background: linear-gradient(180deg,
    #7FB77E, #B1D7B4, #7FB77E, #B1D7B4
    );
    margin: 0;
    .card {
      margin-left: 15px;
      margin-right: 15px;
    }
    footer {
      margin-right: 15px;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    background: linear-gradient(180deg,
      #FFC090,#7FB77E, #B1D7B4, #B1D7B4, #B1D7B4, #FFC090
    );
    border-bottom: 2px solid #7FB77E;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  header>p {
    flex: 1;
    margin: 0;
    padding: 40px 0px 0px 50px;
    display: inline-flex;
    text-align: end;
    text-transform: uppercase;
    font-size: 2.2rem;
    border: 0;
    border-bottom-right-radius: 25%;
    background: linear-gradient(180deg,
      #FFC090, #7FB77E, #B1D7B4, #B1D7B4, #B1D7B4, #FFC090
    );
  }

  .logo {
    flex: 1;
    border-radius: 5% 0% 0% 0%;
    border: 0 !important;
    background: radial-gradient(at 50% 50%,
      #7FB77E 40%, #B1D7B4, transparent 70%
    );
    max-height: 200px;
    max-width: 200px;
  }
  
  h1 {
    margin: -10px 0px 10px 0px;
    padding: 10px;
    padding-top: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom: 0.2rem solid #7FB77E;
    border-left: none;
    border-top: none;
    border-right: none;
    background: linear-gradient(0deg,
      #FFC090, #7FB77E, #B1D7B4, #7FB77E, #B1D7B4, #FFC090
    );
  }

  .bb {
    display: block;
  }

  .card {
    border-color: #7FB77E;
    background: radial-gradient(at 50% 45%,
      #B1D7B4, #F7F6DC, #FFC090
    );
  }

  h2 {
    font-size: 1.2rem;
  }

  div.card.right>h2 {
    text-align: right;
  }
}

@media (min-width: 701px) {
  body {
    background: repeating-linear-gradient(180deg,
      #FEBE8C, #F3FDE8, #FEBE8C, #F3FDE8, #FEBE8C, #F3FDE8,#FEBE8C,#F3FDE8, #A8DF8E
    );
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px;
    gap: 10px;
    row-gap: 0px;
  }

  header {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    border: 0px !important;
  }

  .logo {
    flex: 1;
    border-top-left-radius: 5%;
    border: 0px !important;
    object-fit: contain;
    background: radial-gradient(at 100% 100%,
    #A8DF8E, transparent 60%, #FFE5E5, transparent 20%
    );
  }
  
  header > p {
    flex: 1;
    border-top-right-radius: 5%;
    font-size: 3rem;
    padding-left: 4rem;
    background: radial-gradient(at 0% 100%,
      #A8DF8E, transparent 60%, #FFE5E5, transparent 20%
    );
    border: none;
  }

  h1 {
    grid-column: span 2;
    text-align: left;
    margin-bottom: 25px;
    padding: 15px;
    border-radius: 0% 0% 5% 5%;
    border-right: 0px !important;
    border-bottom: 0.5rex solid #FFBFBF;
    background: radial-gradient(at 50% 0%,
      #A8DF8E, transparent 60%, #FFE5E5, transparent 20%
    );  
    max-width: 100%;
  }

  h2 {
    font-size: 1.1rem;
  }

  .card {
    border-color: #FFBFBF;
    background: radial-gradient(
     #FFE5E5 50%, #A8DF8E
    );
  }

  .right img {
    float: left;
  }
}
