body {
  text-align: center;
  background-color: #011F3F;
  min-width: 300px;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  margin: auto;
  height: 750px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.startgame {
  max-width: 50%;
  background-image: url("https://private-user-images.githubusercontent.com/177906183/446802797-3c8a2cfc-6f8c-4185-99fd-9e2f10fbf664.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NDc5NjA1NzYsIm5iZiI6MTc0Nzk2MDI3NiwicGF0aCI6Ii8xNzc5MDYxODMvNDQ2ODAyNzk3LTNjOGEyY2ZjLTZmOGMtNDE4NS05OWZkLTllMmYxMGZiZjY2NC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwNTIzJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDUyM1QwMDMxMTZaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1lNThlZWNmOWI2MzM3ODU4MmZiZTBkNTIxZWFkNGJiNjNjZGQyYWRhOTFhMjljZDNlYWQ3NzczODk2YmJlNTg4JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.KwcHew2nr9rPLbftMehitiD2UwU9Bwm_yM7wl7dVjww");
}

.endgame {
  max-width: 70%;
  background-image: url("https://private-user-images.githubusercontent.com/177906183/446802600-35c7bd08-e2b7-46a9-a6b6-50c10c5f62c7.gif?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NDc5NjA1MzYsIm5iZiI6MTc0Nzk2MDIzNiwicGF0aCI6Ii8xNzc5MDYxODMvNDQ2ODAyNjAwLTM1YzdiZDA4LWUyYjctNDZhOS1hNmI2LTUwYzEwYzVmNjJjNy5naWY_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjUwNTIzJTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI1MDUyM1QwMDMwMzZaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT00ZmQzYzI5OTZhYzkzMzA5NWFlYmQzMzBmODY2YTRmMGExMmY5MzExY2NhZTllYzQxNzQxNjhhZDYxMTRiNDRkJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.K-0AGOkF8eZUA-Yzm1Sy_Sc9F0EFhbhblf7JDK0yJo8");
  background-size: 100%;
  background-position: top;
  border-radius: 50%;
}

.controlbtn {
  display: block;
  width: 100%;
  background-color: inherit;
  font-family: 'Press Start 2P', strong;
  font-size: 2rem;
  color: #FEF2BF;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px green;
}

#start:before {
  font-size: 3rem;
  content: '\261e';
  padding-right: 12px;
  color: green;
  text-shadow: 3px 3px 3px green;
}

#start:after {
  font-size: 3rem;
  content: '\261c';
  padding-left: 3px;
  color: green;
  text-shadow: 3px 3px 3px green;
}

#restart:before {
  font-size: 3rem;
  content: '\267d';
  padding-right: 12px;
  opacity: 0.6;
}

#restart:after {
  font-size: 3rem;
  content: '\267d';
  padding-left: 3px;
  opacity: 0.6;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btnhdn {
  opacity: 0%;
  display: none;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 10px white;
  background-color: grey;
}
